.cards {
  flex-grow: 1;

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    gap: 60px;
  }
}

@import './Card/Card';
@import './SortCards/SortCard';