.header {
  flex: 0 1 100px;
  background-color: $bisque;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 100%;
}

.logo {
  display: flex;
  align-items: center;

  .logo_name {
      font-size: 26px;
      margin-left: 15px;
  }
}

.basket {
  position: relative;
}

.backet__counts {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  transform: translate(-100%, 0);
}

