@import './Card/Card';

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  gap: 60px;
}

.cards {
  flex-grow: 1;

  &__sort {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
  }

  &__sort-name {
    display: flex;
    gap: 7px;
  }

  &__sort-year {
    display: flex;
    gap: 7px;
  }
}