@import '../../component/Cards/Cards';
@import '../../component/Filters/Filters';

.main {
  flex-grow: 1;
}

.main-container {
  display: flex;
  gap: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }
}