.img-card {
  width: 200px;
}

.img-card img {
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    margin: 0;
    text-align: center;
  }

  &__list {
    margin: 0;
    padding: 0;
  }
}