.noUi-target {
  height: 10px;
}

.noUi-horizontal .noUi-handle {
  right: -14px;
  height: 18px;
  width: 28px;
}

.noUi-connect {
  background: $bisque;
}

.noUi-handle:before,
.noUi-handle:after {
  left: 12px;
  top: 5px;
  height: 7px;
}

.noUi-handle:after {
  left: 15px;
}

.count-range {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}