.footer {
  height: 80px;
  padding: 22px 0;
  background-color: $bisque;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.link-github {
  display: flex;
  align-items: center;

  &__img {
    display: inline-block;
    height: 80%;
  }
}

.link-rs__img {
  display: block;
  height: 100%;
}

.container-year {
  display: flex;
  align-items: center;
}

.year {
  font-size: 20px;
  font-weight: bold;
}